/*  Main Struct of Login page. */
#login {
    height: 100%;
    width: 100%;
    position: absolute;
    background: no-repeat;
    background-image: url('http://localhost:44400/background.jpg');
    background-size: cover;
}

/* MUI Modify. */
.MuiPaper-root {
    width: 400px;
}
.MuiInputBase-root {
    width: 100%;
}